In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import math

In [3]:
df=pd.read_excel('homeprices.xlsx','Sheet1')
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   18  610000
2  3200       NaN   15  565000
3  3400       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
median_bedrooms=math.floor(df.Bedrooms.median())
median_bedrooms

3

In [13]:
df.Bedrooms=df.Bedrooms.fillna(median_bedrooms)
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   18  610000
2  3200       3.0   15  565000
3  3400       3.0   30  595000
4  4000       5.0    8  760000

In [15]:
reg=linear_model.LinearRegression()
reg.fit(df[['Area','Bedrooms','Age']],df.Price)

LinearRegression()

In [16]:
reg.coef_

array([   68.67185766, 63156.5806022 ,   388.39979285])

In [19]:
reg.intercept_

159070.61478138505

In [20]:
reg.predict([[3500,4,25]])

C:\Users\Azrin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([661758.43382407])

In [21]:
(68.67185766*3500)+(63156.5806022*4)+(388.39979285*25)+159070.61478138505

661758.4338214351